h1, h2, h3{
    font-family: Arial, sans-serif;
  }
  
  h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
  }
  
  h2{
    font-size: 22px;
    font-weight: bold;
    color: black;
  }

  h3{
    font-size: 18px;
  }

  h4{
    font-size: 15px;
}

.page1Header {
  color: white;
}


  .jumbotron{
    background-color: white;
  }

.row{
background-color:white;
}

.menubuttons{
  background-color:white;
}

#bar {
  width: 400px;
  align-items: center;
}

#bar2 {
  width: 400px;
  align: center;
}

.image3{
  align-items: center;
}


body{
  background-image: url("images/bitcoinbackground.jpg");
  background-repeat: no;
}

  .navbar{
    position: absolute;
    right: 30px;
    display: block;
    background-color:white;
}


  .homebtn a{
    width: 150px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    display: block;
    padding: 15px;
    margin: 0px 0px 0px 40px;
  }
  
 